<main>
    <section id="section-login">
        <h2>Fazer Login</h2>
        <form class="row g-3">
            
              <label for=" usuario">Email</label>
              <input name="usuario" required type="text" [(ngModel)]="usuario">
            
            <br>

              <label for="password">Senha</label>
              <input name="password" type="password" [(ngModel)]="senha">
            <br>            
              <button (click)="fazerLogin()">Login</button>
            
          </form>

    </section>
</main>